@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared styles starts*/
* {
    /* padding: 0;
    margin: 0; */
    font-family: "Work Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-gray {
    color: #424242;

}


.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}


/* Shared styles ends*/


/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* header styles ends here */

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img {
    width: 100%;
    margin-top: 30px;
}


/* mains styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
    /* max-width: 450px; */
}

.teams-title {
    font-size: 2.8rem;

}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* features section styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.feature-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-image img{
    height: 90%;
    margin-left: 90px;

}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 300px ;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 150px;
}

.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}














/* facts section styles */
.f-title {
    margin-bottom: 24px;
}

.f-description {
    margin-bottom: 60px;
    max-width: 530px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponspors styles */
.sponspors {
    text-align: center;
}

.s-title {
    margin-bottom: 24px;
}

.s-description {
    margin-bottom: 50px;
}

.sponspors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponspors-img-container img {
    width: 165px;
}

footer {
    border-radius: 8px;
    background: #FFF4E7;
    max-width: 1440px;
    height: 50px;
    margin: 130px auto;
    /* margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto; */
}

.footer-description {
    display: flex;

    justify-content: center;
    align-items: center;

}


.footer-description p {

    color: #424242;
    font-weight: 400;
    text-align: center;

}